@import url("https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&family=Open+Sans:wght@300;400&family=Poppins:wght@400;500&family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.App {
  text-align: center;
}

.render-items::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

